<div class="col-sm-3" id="basket-display">
    <div class="card">
        <a href="/profile/user/{{user_id}}">
            <div class="card-header text-center">{{product.name}}</h2></div>
            <div class="card-body basket-list-card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">Organic: {{#if product.organic}}Yes{{else}}No{{/if}}</li>
                    <li class="list-group-item px-0">Stock: {{stock}} lb</li>
                    <li class="list-group-item px-0">Price: ${{price}}/lb</li>
                    <li class="list-group-item px-0">Description: <br /> {{description}}</li>
                </ul>
            </a>
        </div>
        </a>
    </div>
</div>