{{! styled to match nav color }}
<section class='justify-content-center'>
  {{#if isReceipient}}
    <a href='/profile/message/{{sender.id}}'>
      <div class='card text-white mx-auto mt-3 mb-3' style='width: auto;'>
        <div class='card-title btn'>From
          {{sender.username}}
          on
          {{formatDate date_created}}</div>
        <div class='card-body bg-light text-success'>{{content}}</div>
      </div>
    </a>
  {{else}}
    <a href='/profile/message/{{recipient.id}}'>
      <div class='card text-white mx-auto mb-3 mt-3' style='width: auto;'>
        <div class='card-title btn'>To
          {{recipient.username}}
          on
          {{formatDate date_created}}</div>
        <div class='card-body bg-light text-success'>{{content}}</div>
      </div>
    </a>
  {{/if}}
</section>