<section class='justify-content-center'>
  {{#if isReceipient}}
    <a href='/profile/message/{{sender.id}}'>
      <div
        class='card text-white bg-success mx-auto mt-3 mb-3'
        style='width: auto;'
      >
        <div class='card-title'>From
          {{sender.username}}
          on
          {{formatDate date_created}}</div>
        <div class='card-body bg-light text-success'>{{content}}</div>
      </div>
    </a>
  {{else}}
    <a href='/profile/message/{{recipient.id}}'>
      <div
        class='card text-white bg-success mx-auto mb-3 mt-3'
        style='width: auto;'
      >
        <div class='card-title'>To
          {{recipient.username}}
          on
          {{formatDate date_created}}</div>
        <div class='card-body bg-light text-success'>{{content}}</div>
      </div>
    </a>
  {{/if}}
</section>