<li class="list-group-item px-2 py-1">
  {{#if isRecipient}}
    From {{sender.username}} on {{formatDate date_created}}
  {{else}}
    To {{recipient.username}} on {{formatDate date_created}}
  {{/if}}
</li>