{{#if isRecipient}}
<a href="/profile/user/{{poster.id}}">
  <div class="panel panel-default">
    <div class="panel-heading py-1 px-2" class="rating">Score {{score}} From {{poster.username}} on {{formatDate date_created}}</div>
    <div class="panel-body py-2 px-2">Rating for {{#if product.organic}}organic{{/if}} {{product.name}}: {{content}}</div>
  </div>
</a>
{{else}}
<a href="/profile/user/{{recipient.id}}">
  <div class="panel panel-default">
    <div class="panel-heading py-1 px-2" class="rating">Score {{score}} To {{recipient.username}} on {{formatDate date_created}}</div>
    <div class="panel-body py-2 px-2">Rating for {{#if product.organic}}organic{{/if}} {{product.name}}: {{content}}</div>
  </div>
</a>
{{/if}}