<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        {{#if owner}}
          <a href="/profile/edit/">
        {{/if}}
          {{#if profile_picture}}
            <img class="card-img-top" src="{{profile_picture}}" alt="profile picture">
          {{else}}
            <img class="card-img-top" src="/assets/profile.jpeg" alt="profile picture">
          {{/if}}
          {{#if owner}}
            <h5 class="card-title text-center" id="profile-text">Hello {{username}}!</h5>
          {{else}}
            <h5 class="card-title text-center">{{username}}!</h5>
          {{/if}}
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0 px-2 py-1" id="profile-text">Zip Code: {{zipcode}}
            {{#if owner}}
              <span id="new-location"><i class="fas fa-edit text-primary"></i></span>
            {{/if}}
            </li>
            {{#if ratingAverage}}
              <li class="list-group-item border-0 px-2 py-1" id="profile-text">Average Rating: {{ratingAverage}}</li>
            {{else}}
              <li class="list-group-item border-0 px-2 py-1" id="profile-text">No rating Yet</li>
            {{/if}}
          </ul>
        {{#if owner}}
          </a>
        {{/if}}
      </div>
    </div>
    {{#if owner}}
    <div class="card profile-small-section">
      <div class="card-body">
        <a href="/profile/message/">
          <h5 class="card-title text-center" id="profile-text">Messages</h5>
          <ul class="list-group list-group-flush">
            {{#each messages}}
              {{> profile-message-list}}
            {{/each}}
          </ul>
        </a>
      </div>
    </div>
    {{/if}}
    <div class="card profile-small-section">
      <div class="card-body">
        {{#if owner}}
          <a href="/profile/rating/">
        {{/if}}
          <h5 class="card-title text-center" id="profile-text">Ratings</h5>
          <ul class="list-group list-group-flush">
            {{#each ratings}}
              {{> profile-rating-list}}
            {{/each}}
          </ul>
        {{#if owner}}
        </a>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="row baskets-display">
      {{#if owner}}
        {{#each baskets}}
          {{> profile-basket-list}}
        {{/each}}
      {{else}}
        {{#each baskets}}
          {{> basket-list}}
        {{/each}}
      {{/if}}
    </div>
    {{#if owner}}
    <div>
      <button id="new-basket" class="btn w-25 d-block mx-auto">+ Add New Item</button>
    </div>
    {{/if}}
  </div>
</div>

<script src="/js/profile.js"></script>

