<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        {{#if owner}}
          <a href="/profile/edit/">
        {{/if}}
          {{#if profile_picture}}
            <img class="card-img-top" src="{{profile_picture}}" alt="profile picture">
          {{else}}
            <img class="card-img-top" src="/assets/profile.jpeg" alt="profile picture">
          {{/if}}
          {{#if owner}}
            <h5 class="card-title">Hello {{username}}!</h5>
          {{else}}
            <h5 class="card-title">{{username}}!</h5>
          {{/if}}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Zip Code: {{zipcode}}</li>
            {{#if ratingAverage}}
              <li class="list-group-item">Average Rating: {{ratingAverage}}</li>
            {{else}}
              <li class="list-group-item">No rating Yet</li>
            {{/if}}
          </ul>
        {{#if owner}}
          </a>
        {{/if}}
      </div>
    </div>
    {{#if owner}}
    <div class="card profile-small-section">
      <div class="card-body">
        <a href="/profile/message/">
          <h5 class="card-title">Messages</h5>
          <ul class="list-group list-group-flush">
            {{#each messages}}
              {{> profile-message-list}}
            {{/each}}
          </ul>
        </a>
      </div>
    </div>
    {{/if}}
    <div class="card profile-small-section">
      <div class="card-body">
        {{#if owner}}
          <a href="/profile/rating/">
        {{/if}}
          <h5 class="card-title">Ratings</h5>
          <ul class="list-group list-group-flush">
            {{#each ratings}}
              {{> profile-rating-list}}
            {{/each}}
          </ul>
        {{#if owner}}
        </a>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="row baskets-display">
      {{#each baskets}}
        {{!-- {{> profile-basket-list}} --}}
        <div class="col-sm-3">
          <div class="card">
              <div class="card-body basket-list-card">
                  {{#if owner}}
                  <a href="/profile/edit/{{id}}">
                  {{/if}}
                    <div class="card-title text-center">
                        <h2>{{product.name}}</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Stock: {{stock}} lb</li>
                        <li class="list-group-item">Price: ${{price}}/lb</li>
                        <li class="list-group-item">Description: <br /> {{description}}</li>
                    </ul>
                  {{#if owner}}
                  </a>
                  {{/if}}
                </div>
            </div>
        </div>
      {{/each}}
    </div>
    {{#if owner}}
    <div class="position-fixed w-60">
      <button id="new-basket" class="d-block mx-auto">+ Add New Item</button>
    </div>
    {{/if}}
  </div>
</div>

<script src="/js/profile.js"></script>

